/*@charset "UTF-8";*/

/* --------------------------------
 * パンくずリスト
 * -------------------------------- */

#breadcrumb{
    padding-left: 60px;
}
#breadcrumb ol li {display: inline; }
#breadcrumb ol li::after {
    content: ">";
    padding-left: 7px;
}
#breadcrumb ol li:last-child::after { content: none; }

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 16px;
}
body {
  background-size: cover;
  color: black;
  text-align: center;
/*  font-size: 1.6rem;*/
  font-size: 16px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  background-color: #9ACD32;
  padding: 30px;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #fff;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.heading::before {
  bottom: 5px;
}
.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.button:hover {
  opacity: 0.9;
}
.button-showy {
  background-color: #D29E04;
}
.button-ghost {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

/* --------------------------------
 * facebook
 * -------------------------------- */
.header_facebook {
    padding-right: 300px;
    float: right;
    margin-right: 20px;
    background-color: #3b5998;
    top: 7px;
    height: 45px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 4px;
}
.header_facebook:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../images/facebook_logo.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.header_facebooklabel{
    color: #ffffff;
    position: relative;
    top: 13px;
    text-align: center;
    margin: 0 10px 0 50px;
}

.top_facebook {
    background-color: #3b5998;
    top: 50px;
    height: 45px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 4px;
    left: 10px;
    top: 250px; 
}
.top_facebook:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../images/facebook_logo.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.first_facebook {
    background-color: #3b5998;
    height: 45px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 4px;
    left: 10px;
    margin: 50px;
}
.first_facebook:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../images/facebook_logo.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.bottom_facebook {
    background-color: #3b5998;
    height: 45px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 4px;
    left: 10px;
    margin: 50px;
}
.bottom_facebook:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../images/facebook_logo.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}



/* --------------------------------
 * header
 * -------------------------------- */
#menu{
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 0;
}
#menu li{
/*  display: block;*/
/*  float: left;*/
  width: 25%;
  margin: 0;
  padding: 0; }
#menu li a{
/*  display: block;*/
  padding: 12px 0 10px;
  color: white;
  text-align: center;
  text-decoration: none;
}
/*
#menu li a:hover{
  background: #444;
}
*/
#toggle{
  display: none;
}
.header_pic{
    padding-bottom: 30px;
}
.home{
    color:gray;
    text-decoration: none;
}
.news{
    color:gray;
    text-decoration: none;
}
#header_navi{
    margin-bottom: 80px;
    background-color: #4B99B5;
}
#header_logo {
    float: left;
    padding-left: 160px;
    padding-top: 50px;
     background-color: #4B99B5;
    width: 100%;
    height: 300%;
}
#header_logo ul li{
    padding-bottom: 5px;
}
#cat_cover_box {
/*    border-top:1px solid #CCC;*/
    width: 100%;
    min-width: 320px;
    min-height: 590px;
/*    background: url("../images/main_visual5.JPG") no-repeat;*/
    background-position: center center;
/*    background-size: 100%;
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -o-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
    filter: brightness(0.7);
*/
    }
#slideshow {
    position:relative;
    height:610px;
}

#slideshow IMG {
    position:absolute;
    width: 100%;
/*    width: 2020px;*/
    height: 630px;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:0.7;
}

#slideshow IMG.last-active {
    z-index:9;
}
#cat_cover #top_title{
    background-color: darkgray;
    z-index: 200;
}
#cat_cover {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    }
#cat_cover2 {
    left: 420px;
    top: 590px;
    position: absolute;
    }
#cat_cover h1 {
    color: white;
    font-size: 6ex;
    position: absolute;
    left: 170px;
    top: 300px;  
    z-index: 200;
    }
#cat_cover .subtitle {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 440px;
    left: 70px;
    z-index: 200;
    }
#cat_cover .subtitle2 {
    color: white;
    font-size: 2.5ex;
    position: absolute;
    top: 440px;
    left: 180px;
    z-index: 200;
    }
#cat_cover .subtitle3 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 440px;
    left: 210px;
    z-index: 200;
    }
#cat_cover .subtitle4 {
    color: greenyellow;
    font-size: 2.5ex;
    position: absolute;
    top: 440px;
    left: 230px;
    z-index: 200;
    }
#cat_cover .subtitle5 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 440px;
    left: 280px;
    z-index: 200;
    }
#cat_cover .subtitle6 {
    color: fuchsia;
    font-size: 2.5ex;
    position: absolute;
    top: 440px;
    left: 300px;
    z-index: 200;
    }
#cat_cover .subtitle7 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 440px;
    left: 390px;
    z-index: 200;
    }
#cat_cover .subtitle8 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 440px;
    left: 460px;
    z-index: 200;
    }
#cat_cover .subtitle9 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 440px;
    left: 830px;
    z-index: 200;
    }
#cat_cover .top_facebook{
    position: absolute;
    top: 490px;
    left: 375px;
    z-index: 200;
    }
#cat_cover .dating {
    color: #fff;
    font-size: 1.5ex;
    position: absolute;
    top: 490px;
    left: 310px;
    z-index: 200;
    text-decoration: none;
    background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	line-height: 50px;
    }
#cat_cover .dating:hover {
    background-color: rgba(255, 255, 255, .2);
}

#cat_cover .kiyaku{
    color: #fff;
    font-size: 1.2ex;
    position: absolute;
    top: 540px;
    left: 240px;
    z-index: 200;
}

.header {
  padding: 1px;
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.0rem;
}
.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}
.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}
/*
.site-description {
  margin-bottom: 50px;
  color:black;
  font-size: 1.6rem;
}
*/
.buttons .button {
  margin: 10px;
}


/* --------------------------------
 * skills
 * -------------------------------- */
.skills {
  padding-top: 40px;
  background-color: #fff;
  color: #333;
}

.skills-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.skill-box {
  display: table-cell;
  opacity: 0.7;
}


.relative {
position: relative;
}
.absolute {
position: absolute;
font-size: 28px;
top: 320px;
left: 33px;
text-decoration: none;
}


.relative2 {
position: relative;
}
.absolute2 {
position: absolute;
font-size: 28px;
top: 320px;
left: 33px;
}


/* --------------------------------
 * works
 * -------------------------------- */
.works {
  padding: 40px 0;
}
.works-wrapper {
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}
.work-box {
  position: relative;
  display: table-cell;
}
.work-image {
  display: block;
  width: 100%;
  margin: 0 0 60%;
}
.work-description {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  overflow-y: auto;
}
.work-description-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.work-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.work-text .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}
.work-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
/*  opacity: 0.2;*/
/*  transform: scaleY(-1);*/
}
/*
.work-box.tree::after {
  background-image: url('../images/tennis5.JPG');
}
.work-box.building::after {
  background-image: url('../images/bowling5.JPG');
}
.work-box.lake::after {
  background-image: url('../images/gurume5.JPG');
}
.work-box.sky::after {
  background-image: url('../images/karaoke5.JPG');
}
*/
/*
.work-box:nth-child(odd) .work-image {
  margin: 60% 0 0;
}
.work-box:nth-child(odd) .work-description,
.work-box:nth-child(odd)::after {
  top: 0;
}
*/

/* --------------------------------
 * dating
 * -------------------------------- */
.dating2 {
    background-color: #333;
	color: #fff;
    text-decoration: none;
    padding: 10px;
    }
.dating2:hover {
    background-color: #59b1eb;
}

/* --------------------------------
 * about
 * -------------------------------- */
.about {
/*  padding: 30px;*/
  background-color: #F5F5F5;
  color: black;
}
.about-text {
  margin: 30px 0;
  line-height: 2.5;
  color:black;
  font-size: 2.0rem;
}
.about-text2 {
  padding-top: 30px;
}
.about-text2 .bold{
  color: red;
}
.heading{
  color: black
}
.facebook_logo{
  width: 38%;    
}
.camera{
  width: 50%;    
}
.card{
  width: 50%;
  margin-top: 60px;
/*  margin-bottom: 30px;*/
}
.about_symply #qa{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.about_symply .txt {
    text-align: left;
    margin-left:auto;
    margin-right:auto;
  }

/* --------------------------------
 * money
 * -------------------------------- */
.money {
  display: inline-block;
  width: 100%;  
}
.money_title{
  margin-bottom: 30px;
}
.money_pic{
    width:50%;
    padding-top: 30px;
}
.about-text {
  margin: 30px 0;
  line-height: 2.5;
  color:black;
}
.heading{
  color: white;
}

/* --------------------------------
 * contact
 * -------------------------------- */
.contact {
  padding: 80px 0 150px;
  background-color: #F5F5F5;  
}
.contact-form {
  width: 50%;
  margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
/*  outline: none;*/
/*
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
*/
/*  background-color: rgba(255, 255, 255, 0.05);*/
  color:black;
}
.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}
.contact-form textarea {
  height: 150px;
}
.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
/*  background-color: transparent;*/
/*  color: rgba(255, 255, 255, 0.6);*/
  color: black;
  cursor: pointer;
}
/*
.contact-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
*/


/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  padding: 12px 0;
  font-size: -2rem;
  background-color: #F5F5F5;
}


/* --------------------------------
 * smart phone
 * -------------------------------- */
@media screen and (max-width: 320px) and (min-width: 1px){
  body {
/*    font-size: 1.3rem;*/
    font-size: 16px;
  }
  .heading {
/*    margin-top: 20px;*/
    font-size: 2ex;
  }
  .button:hover {
    opacity: 1;
  }
  /* --- header --- */
  #slideshow IMG.active {
    width: 100%;
    opacity: 0.7;
  }
  #slideshow IMG.active2 {
    width: 100%;
  }
  #slideshow IMG.active3 {
    width: 100%;
  }
  #slideshow IMG.active4 {
    width: 100%;
  }
/*
  #slideshow{
    background: url("../images/couple.jpg")      
  }
*/
  #header_logo{
      padding-left: 1px;
      padding-top: 1px;
      float: none;
      margin-bottom: 1px;
      background-color: white;
  }
  .header_pic{
      display: none;
  }
  #menu{
    display: none;
  }
  #menu li{
    width: 100%;
  }
  #menu li .home{
    display: block;
    background-color: #4B99B5;
    color: white;
  }
  #toggle{
    display: block;
    position: relative;
    width: 100%;
    background: #4B99B5;
  }
  #toggle a{
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  #toggle:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }
  #toggle a:before, #toggle a:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 4px;
    background: #4B99B5;
  }
  #toggle a:before{
    margin-top: -6px;
  }
  #toggle a:after{
    margin-top: 2px;
  }
  #cat_cover #top_title h1 {
    color: #ff99cc;
    font-size: 4ex;
    position: absolute;
    left: 77px;
    top: 200px;  
    z-index: 200;
    }
#cat_cover #top_title .subtitle {
    color: #fff;
    font-size: 2.0ex;
    position: absolute;
    top: 270px;
    left: 5px;
    z-index: 200;
    display: none;
    }
#cat_cover #top_title .subtitle2 {
    color: lightskyblue;
    font-size: 1.8ex;
    position: absolute;
    top: 370px;
    left: 75px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle3 {
    color: #fff;
    font-size: 1.8ex;
    position: absolute;
    top: 370px;
    left: 137px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle4 {
    color: greenyellow;
    font-size: 1.8ex;
    position: absolute;
    top: 370px;
    left: 155px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle5 {
    color: #fff;
    font-size: 1.8ex;
    position: absolute;
    top: 370px;
    left: 187px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle6 {
    color: fuchsia;
    font-size: 1.8ex;
    position: absolute;
    top: 370px;
    left: 205px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle7 {
    color: #fff;
    font-size: 2.0ex;
    position: absolute;
    top: 390px;
    left: 1px;
    z-index: 200;
    display: none;
    }
#cat_cover #top_title .subtitle8 {
    color: #fff;
    font-size: 1.8ex;
    position: absolute;
    top: 390px;
    left: 62px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle9 {
    color: #fff;
    font-size: 2.0ex;
    position: absolute;
    top: 390px;
    left: 50px;
    z-index: 200;
    display: none;
    }
#cat_cover #top_title .top_facebook {
    left: 70px;
    }
#cat_cover #top_title .kiyaku {
    font-size: 1.0ex;
    left: 60px;
    }
#cat_cover #top_title .dating {
    left: 125px;
    }
  .header_facebook {
      display: none;   
  }
  #header_navi{
    margin-bottom: 1px;
  }
  .fb-login-button{
      right: 100px;
  }
  #cat_cover_box {
      background-size: 100% 590px;
  }
  #cat_cover h1 {
      font-size: 3rem;
/*      margin:0 auto;*/
      left:43px;
      text-align: center;
      top: 250px; 
  }
  #cat_cover .subtitle {
      font-size: 1.7rem;
      left:60px;
      top: 370px;
  }
  #cat_cover .top_facebook{
      left: 92px;
      top: 430px;
  }
  .header {
  margin-bottom: 1px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

/* ---------- skills----------- */
  .skills {
    margin-bottom: 1px;
    }

  /* --- about --- */
  .about-text {
    line-height: 1.8;
    font-size: 1.2rem;
  }

  /* --- works --- */
    .work-image{
        margin-top: 30px;
    }
    
  .works-wrapper,
  .work-box {
    display: block;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  .work-image {
    display:block;
    max-height: inherit;
    max-width: inherit;
  }
  .work-box.tree{
    max-height: 200px;
    max-width: 370px;
  }
  .work-box.building{
    max-height: 200px;
    max-width: 370px;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  .work-box.lake{
   max-height: 200px;
   max-width: 370px;
   margin-bottom: 1px;
   margin-top: 1px;
  }
  .work-box.sky{
   max-height: 200px;
   max-width: 370px;
   margin-bottom: 1px;
   margin-top: 1px;
  }
  .work-box::after {
    top: 105%;
    height: 100%;
    background-size: cover;
    margin-bottom: 1px;
    margin-top: 1px;
  }

  /* --- skills --- */
  .skills-wrapper,
  .skill-box {
    display: block;
  }
  .skill-box {
    margin: 40px auto;
  }
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .skill-text {
    margin: 0;
    font-size: 1.2ex;
  }

/*    --- about ---*/
    .about{
        margin-bottom: 30px;
    }
    .about-text2{
        font-size: 1.2ex;
    }
    
/*    --- money ---*/
    .money_title{
        width: 180px;
        height: 60px;
    }
    .money{
        margin-bottom: 40px;
    }
    .money_pic{
         width: 90%;
    }
    .bottom_facebook{
        padding: none;
    }
/*

/*    --- FAQ ---*/
    .txt{
        font-size: 1.2ex;
    }

   --- contact --- 
  .contact {
    padding-bottom: 80px;
  }
  .contact-form {
    width: 80%;
  }
    
/*    --- footer ---*/
    .footer{
        font-size: 1.2ex;
    }
}

@media screen and (max-width: 376px) and (min-width: 321px){
  body {
    font-size: 16px;
  }
  .heading {
/*    margin-top: 20px;*/
    font-size: 2.0rem;
  }
  .button:hover {
    opacity: 1;
  }
  /* --- header --- */
  #slideshow IMG.active {
    width: 100%;
    opacity: 0.7;
  }
  #slideshow IMG.active2 {
    width: 100%;
  }
  #slideshow IMG.active3 {
    width: 100%;
  }
  #slideshow IMG.active4 {
    width: 100%;
  }
/*
  #slideshow{
    background: url("../images/couple.jpg")      
  }
*/
  #header_logo{
      padding-left: 1px;
      float: none;
      margin-bottom: 1px;
      background-color: white;
      padding-top: 1px;
  }
  .header_pic{
      display: none;
  }
  #menu{
    display: none;
  }
  #menu li{
    width: 100%;
  }
  #menu li .home{
    display: block;
    background-color: black;
    color: white;
  }
  #toggle{
    display: block;
    position: relative;
    width: 100%;
    background: #4B99B5;
  }
  #toggle a{
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  #toggle:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }
  #toggle a:before, #toggle a:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 4px;
    background: #4B99B5;
  }
  #toggle a:before{
    margin-top: -6px;
  }
  #toggle a:after{
    margin-top: 2px;
  }
  #cat_cover #top_title h1 {
    color: #ff99cc;
    font-size: 7ex;
    position: absolute;
/*    left: 90px;*/
    top: 200px;  
    z-index: 200;
    text-align: center;
    }
#cat_cover #top_title .subtitle {
    color: #fff;
    font-size: 2.0ex;
    position: absolute;
    top: 270px;
    left: 12px;
    z-index: 200;
    display: none;
    }
#cat_cover #top_title .subtitle2 {
    color: lightskyblue;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 78px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle3 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 156px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle4 {
    color: greenyellow;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 174px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle5 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 209px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle6 {
    color: fuchsia;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 226px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle7 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 390px;
    left: 1px;
    z-index: 200;
    display: none;
    }
#cat_cover #top_title .subtitle8 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 390px;
    left: 45px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle9 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 390px;
    left: 50px;
    z-index: 200;
    display: none;
    }
#cat_cover #top_title .kiyaku {
    font-size: 1.0ex;
    left: 84px;
    }
/*
#cat_cover #top_title .top_facebook {
    left: 90px;
    }
*/
#cat_cover #top_title .dating {
    left: 140px;
    }
  .header_facebook {
      display: none;   
  }
  #header_navi{
    margin-bottom: 1px;
  }
  .fb-login-button{
      right: 100px;
  }
  #cat_cover_box {
      background-size: 100% 590px;
  }
  #cat_cover h1 {
      font-size: 3rem;
/*      margin:0 auto;*/
      left:43px;
      text-align: center;
      top: 250px; 
  }
  #cat_cover .subtitle {
      font-size: 1.7rem;
      left:60px;
      top: 370px;
  }
  #cat_cover .top_facebook{
      left: 92px;
      top: 430px;
  }
  .header {
  margin-bottom: 1px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

/* ---------- skills----------- */
  .skills {
    margin-bottom: 1px;
    }

  /* --- about --- */
  .about-text {
    line-height: 1.8;
  }

  /* --- works --- */
    .work-image{
        margin-top: 30px;
    }
    
  .works-wrapper,
  .work-box {
    display: block;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  .work-image {
    display:block;
    max-height: inherit;
    max-width: inherit;
  }
  .work-box.tree{
    max-height: 200px;
    max-width: 370px;
  }
  .work-box.building{
    max-height: 200px;
    max-width: 370px;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  .work-box.lake{
   max-height: 200px;
   max-width: 370px;
   margin-bottom: 1px;
   margin-top: 1px;
  }
  .work-box.sky{
   max-height: 200px;
   max-width: 370px;
   margin-bottom: 1px;
   margin-top: 1px;
  }
  .work-box::after {
    top: 105%;
    height: 100%;
    background-size: cover;
    margin-bottom: 1px;
    margin-top: 1px;
  }

  /* --- skills --- */
  .skills-wrapper,
  .skill-box {
    display: block;
  }
  .skill-box {
    margin: 40px auto;
  }
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .skill-text {
    margin: 0;
    font-size: 1.6ex;
  }

/*    --- about ---*/
    .about{
        margin-bottom: 30px;
    }
    .about-text2{
        font-size: 1.6ex;
    }
    
/*    --- money ---*/
    .money_title{
        width: 180px;
        height: 60px;
    }
    .money{
        margin-bottom: 40px;
    }
    .money_pic{
        width: 90%;
    }
    .bottom_facebook{
        padding: none;
    }

/*    --- FAQ ---*/
    .txt{
        font-size: 1.6ex;
    }
    
/*
   --- contact --- 
  .contact {
    padding-bottom: 80px;
  }
  .contact-form {
    width: 80%;
  }
*/
    .footer{
        font-size: 1.6ex;
    }  

/*    --- money ---*/
    
}

@media screen and (max-width: 415px) and (min-width: 377px){
  body {
    font-size: 16px;
  }
  .heading {
/*    margin-top: 20px;*/
    font-size: 2.0rem;
  }
  .button:hover {
    opacity: 1;
  }
  /* --- header --- */
  #slideshow IMG.active {
    width: 100%;
    opacity: 0.7;
  }
  #slideshow IMG.active2 {
    width: 100%;
  }
  #slideshow IMG.active3 {
    width: 100%;
  }
  #slideshow IMG.active4 {
    width: 100%;
  }
/*
  #slideshow{
    background: url("../images/couple.jpg")      
  }
*/
  #header_logo{
      padding-left: 1px;
      float: none;
      margin-bottom: 1px;
  }
  .header_pic{
      display: none;
  }
  #menu{
    display: none;
  }
  #menu li{
    width: 100%;
  }
  #menu li .home{
    display: block;
    background-color: black;
    color: white;
  }
  #toggle{
    display: block;
    position: relative;
    width: 100%;
    background: #222;
  }
  #toggle a{
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  #toggle:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }
  #toggle a:before, #toggle a:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background: #222;
  }
  #toggle a:before{
    margin-top: -6px;
  }
  #toggle a:after{
    margin-top: 2px;
  }
  #cat_cover #top_title h1 {
    color: #ff99cc;
    font-size: 5ex;
    position: absolute;
    left: 95px;
    top: 200px;  
    z-index: 200;
    }
#cat_cover #top_title .subtitle {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 270px;
    left: 15px;
    z-index: 200;
    display: none;
    }
#cat_cover #top_title .subtitle2 {
    color: lightskyblue;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 95px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle3 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 175px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle4 {
    color: greenyellow;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 193px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle5 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 228px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle6 {
    color: fuchsia;
    font-size: 2.5ex;
    position: absolute;
    top: 370px;
    left: 245px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle7 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 390px;
    left: 1px;
    z-index: 200;
    display: none;
    }
#cat_cover #top_title .subtitle8 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 395px;
    left: 60px;
    z-index: 200;
    }
#cat_cover #top_title .subtitle9 {
    color: #fff;
    font-size: 2.5ex;
    position: absolute;
    top: 390px;
    left: 50px;
    z-index: 200;
    display: none;
    }
#cat_cover #top_title .kiyaku {
    font-size: 1.0ex;
    left: 82px;
    }
#cat_cover #top_title .dating {
    left: 150px;
    }
/*
#cat_cover #top_title .top_facebook {
    left: 112px;
    }
*/
#cat_cover #top_title .top_dating {
    left: 112px;
    }
  .header_facebook {
      display: none;   
  }
  #header_navi{
    margin-bottom: 1px;
  }
  .fb-login-button{
      right: 100px;
  }
  #cat_cover_box {
      background-size: 100% 590px;
  }
  #cat_cover h1 {
      font-size: 3rem;
/*      margin:0 auto;*/
      left:43px;
      text-align: center;
      top: 250px; 
  }
  #cat_cover .subtitle {
      font-size: 1.7rem;
      left:60px;
      top: 370px;
  }
  #cat_cover .top_facebook{
      left: 92px;
      top: 430px;
  }
  .header {
  margin-bottom: 1px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

/* ---------- skills----------- */
  .skills {
    margin-bottom: 1px;
    }

  /* --- about --- */
  .about-text {
    line-height: 1.8;
    font-size: 1.2rem;
  }

  /* --- works --- */
    .work-image{
        margin-top: 30px;
    }
    
  .works-wrapper,
  .work-box {
    display: block;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  .work-image {
    display:block;
    max-height: inherit;
    max-width: inherit;
  }
  .work-box.tree{
    max-height: 200px;
    max-width: 370px;
  }
  .work-box.building{
    max-height: 200px;
    max-width: 370px;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  .work-box.lake{
   max-height: 200px;
   max-width: 370px;
   margin-bottom: 1px;
   margin-top: 1px;
  }
  .work-box.sky{
   max-height: 200px;
   max-width: 370px;
   margin-bottom: 1px;
   margin-top: 1px;
  }
  .work-box::after {
    top: 105%;
    height: 100%;
    background-size: cover;
    margin-bottom: 1px;
    margin-top: 1px;
  }

  /* --- skills --- */
  .skills-wrapper,
  .skill-box {
    display: block;
  }
  .skill-box {
    margin: 40px auto;
  }
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .skill-text {
    margin: 0;
    font-size: 1.6ex;
  }

/*    --- about ---*/
    .about{
        margin-bottom: 30px;
    }
    .about-text2{
        font-size: 1.6ex;
    }
    
/*    --- money ---*/
    .money_title{
        width: 180px;
        height: 60px;
    }
    .money{
        margin-bottom: 40px;
    }
    .money_pic{
        width: 90%;
    }
    .bottom_facebook{
        padding: none;
    }
    
  /*    --- FAQ ---*/
    .txt{
        font-size: 1.6ex;
    }
    
/*
   --- contact --- 
  .contact {
    padding-bottom: 80px;
  }
  .contact-form {
    width: 80%;
  }
*/
    
   /*    --- footer ---*/
    .footer{
        font-size: 1.6ex;
    }
}


@media screen and (max-width: 772px) and (min-width: 416px) {
    body{
        font-size: 16px;
    }
    /* --- header --- */
  #slideshow IMG.active {
    width: 100%;
    opacity: 0.7;
  }
  #slideshow IMG.active2 {
    width: 100%;
  }
  #slideshow IMG.active3 {
    width: 100%;
  }
  #slideshow IMG.active4 {
    width: 100%;
  }
  #cat_cover #top_title h1 {
        left: 100px;   
  }
  #cat_cover #top_title .subtitle{
        font-size: 2.0ex;
  }
  #cat_cover #top_title .subtitle2{
        font-size: 2.0ex;
        left: 100px;
  }
  #cat_cover #top_title .subtitle3{
        font-size: 2.0ex;
        left:185px;
  }
  #cat_cover #top_title .subtitle4{
        font-size: 2.0ex;
        left:205px;
  }
  #cat_cover #top_title .subtitle5{
        font-size: 2.0ex;
        left:245px;
  }
  #cat_cover #top_title .subtitle6{
        font-size: 2.0ex;
        left:263px;
  }
  #cat_cover #top_title .subtitle7{
        font-size: 2.0ex;
        left: 335px;
  }
  #cat_cover #top_title .subtitle8{
        font-size: 2.0ex;
        left: 390px;
  }
  #cat_cover #top_title .subtitle9{
        font-size: 2.0ex;
      left: 735px;
  }
  #cat_cover #top_title .kiyaku {
    left: 135px;
    }
  #cat_cover #top_title .dating{
      font-size: 2.0ex;
      left: 190px;
  }
/*
    #cat_cover #top_title .top_facebook{
        left: 165px;
  }
*/
    #cat_cover #top_title .top_dating{
        left: 165px;
  }
    .skill #skills-wrapper #skills-box .skill-title{
        font-size: 2.0rem;
    }
    .money_pic{
        width: 90%;
    }
}

/* --------------------------------
 * challenge
 *
 * 31行目からの.heading::before, .heading::afterの
 * スタイルをコメントアウトしてから適用してください。
 * -------------------------------- */
/*
.heading::before,
.heading::after {
  content: '';
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin: 0 0.5em;
  border: 1px solid;
  vertical-align: 0.2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.work-box {
  overflow: hidden;
}
.work-image {
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.work-box:nth-child(odd) .work-image {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.work-box:nth-child(even) .work-image {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
.work-box:hover .work-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
*/
