@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 16px;
}
body {
/*  background: #151515 url('../images/bg.png') no-repeat fixed left bottom;*/
/*  background-size: cover;*/
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
/*
*, *::before, *::after {
  box-sizing: border-box;
}
*/
a:link { color:black; }
a:visited { color:black;  }
a:hover { color:#ff8000;  }
a:active { color:black;  }

/* --------------------------------
 * header
 * -------------------------------- */
/*
.header{
    text-align: left;
    padding-left: 60px;
}
*/
#menu{
  width: 100%;
/*  max-width: 960px;*/
  margin: 0;
/*  padding: 0;*/
}
#menu li{
/*  display: block;*/
/*  float: left;*/
  width: 25%;
  margin: 0;
/*  padding: 0; */
}
#menu li a{
/*  display: block;*/
/*  padding: 12px 0 10px;*/
  color: gray;
  text-align: center;
  text-decoration: none;
}
/*
#menu li a:hover{
  background: #444;
}
*/
#toggle{
  display: none;
}
.header_pic{
/*    padding-bottom: 30px;*/
}
.home{
    color:gray;
    text-decoration: none;
}
.news{
    color:gray;
    text-decoration: none;
}

#header_logo {
/*    float: left;*/
/*    padding-left: 30px;*/
/*    padding-top: 10px;*/
}

/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  background-color: #9ACD32;
  padding: 30px;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #fff;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.heading::before {
  bottom: 5px;
}


/* --------------------------------
 * dating
 * -------------------------------- */
.dating table{
 margin-left:auto;
    margin-right:auto;
}
.tennis_group {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.tennis_text {
    width:		100%;
	text-align:	center;
    vertical-align: middle;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.tennis_image{
    opacity: 0.2;
}
.cooking_group {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.cooking_text {
    width:		100%;
	text-align:	center;
    vertical-align: middle;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.cooking_image{
    opacity: 0.2;
}
.kansen_baseball {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.kansen_baseball_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.kansen_baseball_image{
    opacity: 0.2;
}
.kansen_soccer {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.kansen_soccer_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.kansen_soccer_image{
    opacity: 0.2;
}
.trip {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.trip_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.trip_text2 {
    width:		100%;
	font-size:	60%;
	text-align:	center;
	bottom:		100px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.trip_image{
    opacity: 0.2;
}
.bowling {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.bowling_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.bowling_image{
    opacity: 0.2;
}
.gurume {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.gurume_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.gurume_image{
    opacity: 0.2;
}
.karaoke {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.karaoke_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.karaoke_image{
    opacity: 0.2;
}
.run {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.run_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.run_image{
    opacity: 0.2;
}
.movie {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.movie_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.movie_image{
    opacity: 0.2;
}
.drive {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.drive_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.drive_image{
    opacity: 0.2;
}
.golf {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.golf_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.golf_image{
    opacity: 0.2;
}
.manga {
    width:		100%;
	margin:		0;
	padding:	0;
    position: relative;
}
.manga_text {
    width:		100%;
	text-align:	center;
	bottom:		120px;
	margin:		0;
	padding:	0;
    position: absolute;
}
.manga_image{
    opacity: 0.2;
}

/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  padding: 12px 0;
  font-size: -2rem;
  background-color: #F5F5F5;
}


/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
/*
  body {
    background-image: none;
  }
*/
}
@media (max-width: 768px) {
  body {
  font-size: 8px;
}
  /* --- header --- */
  #slideshow IMG.active {
    width: 100%;
  }
  #slideshow IMG.active2 {
    width: 100%;
  }
  #slideshow IMG.active3 {
    width: 100%;
  }
  #slideshow IMG.active4 {
    width: 100%;
  }
/*
  #slideshow{
    background: url("../images/couple.jpg")      
  }
*/
  #header_logo{
      padding-left: 1px;
      float: none;
      margin-bottom: 1px;
  }
  .header_pic{
      display: none;
  }
  #menu{
    display: none;
  }
  #menu li{
    width: 100%;
  }
  #menu li .home{
    display: block;
    background-color: black;
    color: white;
  }
  #toggle{
    display: block;
    position: relative;
    width: 100%;
    background: #222;
  }
  #toggle a{
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  #toggle:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }
  #toggle a:before, #toggle a:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background: #222;
  }
  #toggle a:before{
    margin-top: -6px;
  }
  #toggle a:after{
    margin-top: 2px;
  }
  #text{
  font-size: 0.8rem; 
  }
  .dating{
    color: white;    
  }
  .heading {
    margin-top: 20px;
  }
  .button:hover {
    opacity: 1;
  }
  th,td {
	width: 100%;
	display: block;
}
  .dating{
    padding: 0px 0px 0px 0px;
  }
  .tennis{
    width: 100%;
  }
  .tennis_image{
    max-width: 100%;    
  }
  .tennis_text{
    font-size: 0.8rem; 
    vertical-align: middle;
  }
  .cooking{
    max-width: 100%;
  }
  .cooking_image{
    max-width: 100%;    
  }
  .cooking_text{
    font-size: 0.8rem;   
  }
  .kansen_baseball{
    max-width: 100%;
  }
  .kansen_baseball_image{
    max-width: 100%;    
  }
  .kansen_baseball_text{
    font-size: 0.8rem;   
  }
  .kansen_sooccer{
    max-width: 100%;
  }
  .kansen_soccer_image{
    max-width: 100%;    
  }
  .kansen_soccer_text{
    font-size:0.8rem;   
  }    
  .trip{
    max-width: 100%;
  }
  .trip_image{
    max-width: 100%;    
  }
  .trip_text{
    font-size: 0.8rem;   
  }
  .bowling{
    max-width: 100%;
  }
  .bowling_image{
    max-width: 100%;    
  }
  .bowling_text{
    font-size: 0.8rem;   
  }
  .gurume{
    max-width: 100%;
  }
  .gurume_image{
    max-width: 100%;    
  }
  .gurume_text{
    font-size: 0.8rem;   
  }
  .karaoke{
    max-width: 100%;
  }
  .karaoke_image{
    max-width: 100%;    
  }
  .karaoke_text{
    font-size: 0.8rem;   
  }
  .run{
    max-width: 100%;
  }
  .run_image{
    max-width: 100%;    
  }
  .run_text{
    font-size: 0.8rem;   
  }
  .movie{
    max-width: 100%;
  }
  .movie_image{
    max-width: 100%;    
  }
  .movie_text{
    font-size: 0.8rem;   
  }
  .drive{
    max-width: 100%;
  }
  .drive_image{
    max-width: 100%;    
  }
  .drive_text{
    font-size: 0.8rem;   
  }
  .golf{
    max-width: 100%;
  }
  .golf_image{
    max-width: 100%;    
  }
  .golf_text{
    font-size: 0.8rem;   
  }
}


