html {
  font-size: 16px;
}
body {
  background-size: cover;
  color: black;
  text-align: center;
/*  font-size: 1.6rem;*/
  font-size: 16px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

h1{
    text-align: center;
    background-color: #F5F5F5;
    width: 790px;
	margin: 0 auto;
	overflow:hidden;
}

h2{
    text-align: center;
    background-color: #F5F5F5;
    width: 790px;
	margin: 0 auto;
	overflow:hidden;
}

#kihon{
    text-align: center;
    width: 790px;
	margin: 0 auto;
	overflow:hidden;
    font-family: 'メイリオ';
}